
#content.cu_pr_preview{ 
	width: 970px;
	padding-top: 100px;
}
#cu_pr_preview{
	color: #000;
}
#cu_pr_preview .thumbnail {
    border: 2px solid #000000;
    border-radius: 0 0 0 0;
    margin-bottom: 10px;
    padding: 0;
    position: relative;
}
#cu_pr_preview .thumbnail .caption {
	background: url("../img/bg_caption.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 0;
    display: none;
    position: absolute;
    width: 100%;
    padding:0; 
}
#cu_pr_preview .thumbnail .caption a {
	font-family: "Raleway",Helvetica,Arial; 
	font-size: 20px;	
	display: block;
    padding: 20px 10px;
} 
#cu_pr_preview .nota {
   font-weight: 500;
   border-bottom: 1px solid;
   padding-bottom: 10px;
   line-height: normal;
}
div.pp_woocommerce .pp_close {
	right: 0 !important;
}
#gift-certificate-receiver-form{
	display: none;
}
#cu_pr_preview ul{
	position: relative;
	margin-bottom: 35px;
	text-align: center;
}
#cu_pr_preview figure{
	margin-bottom: 25px;
}
.cu_pr-chosen-img img{
	border: 2px solid #000;
	/* -webkit-box-shadow: 0px 10px 12px -8px #757575;
	        box-shadow: 0px 10px 12px -8px #757575;
	 */
}
.license {
	padding-bottom: 20px;
	font-size: 12px;
}
.cu_pr-select-item p,
.cu_pr-product_chosen,
.cu_pr-order_submitted{
	display: none;
}
.cu_pr-image-title{
	margin-bottom: 15px;
	font-size: 20px;
}
.fantasia-header,
.fantasia-footer{
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	line-height: 22px;
	padding: 15px;
}
.fantasia-header p{
	margin-bottom: 5px;
}
.fantasia-footer{
	font-weight: normal;
	margin-bottom: 25px;
}
.cu_pr-prod-notice{
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	line-height: 20px;
	padding: 15px;
	padding-right: 100px;
}
.submission-complete-msg{
	text-align: center;
	margin-bottom: 20px;
	margin-top: 10px;
}
.cu_pr-select-item .button.cu_pr-image-choice-button {
    display: block;
}
#cu_pr_preview div.select-item{
	position: absolute;
	bottom: -15px;
	width: 100%;
	margin: 0 auto;
}
#cu_pr_preview .privacy-terms{
	margin-bottom: 15px;
}
.single-cu_pr .error{
	color: red;
}
.privacy-terms input{
	float: left;
}
.privacy-terms div{
	background-color: #DCDDDD;
	padding: 5px 8px;
	max-height: 70px;
	-ms-overflow-y: scroll;
	    overflow-y: scroll;
	line-height: 18px;
	margin-left: 25px;
}
.share-social li{
	text-align: center;
	margin: 15px;
	display: inline;
	position: relative;
}
.share-social li a{
	text-decoration: none;
}
.share-social li a:after{
    position: absolute;
    content: " ";
    left: 0;
    bottom: 0;
    width: 46px;
	-webkit-transition: all 0.1s linear;
	   -moz-transition: all 0.1s linear;
	    -ms-transition: all 0.1s linear;
	     -o-transition: all 0.1s linear;
	        transition: all 0.1s linear;
    -webkit-box-shadow: 0 10px 6px #000000;
            box-shadow: 0 10px 6px #000000;
}
.share-social li img{
	max-width: 48px;
}
.cu_pr_popup_text{
	display: none;
}
.cu_pr_popup_trigger{
	cursor: pointer;
	text-decoration: underline;
}

/* shop archive page styling */
.woocommerce .featured-image-carousel .second-featured{
	display: none;
}

/* shop single product page styling */
.swatch-parent-wrap{
	float: left;
}
.swatch-color-span{
	width: 94%;
	height: 8px;
	display: block;
	margin-bottom: 3px;
}
.swatch-title-span {
    display: block;
    text-align: center;
}
.cu_pr-product_chosen .btn {
	margin-bottom: 20px;
}
.cu_pr-available_images h5 {
	margin: 0;
	padding: 8px 0;
	background-color: #DCDDDD;
} 
/* css for the coupon form 

#coupon_code_request_wrapper {
    background-color: rgba(68, 68, 68, 0.9);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
#coupon_code_request{
	text-align: center;
	margin-top: 25%;
}*/
#coupon_code_request p{
	color: #000000;
    font-size: 18px;
    margin-top: 10px;
}